.header{
    width: 100%;
    height: 150px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_div{
    display: flex;
    align-items: center;
}